<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificação de Imagens</title>
</head>
<body>
    <input type="file" name="Imagem" id="imageUpload" accept="image/*">
    <button onclick="classifyImage()">Classificar</button>
    <div id="result"></div>

    <script>
        function classifyImage() {
            const fileInput = document.getElementById('imageUpload');
            const file = fileInput.files[0];
            const formData = new FormData();
            formData.append('image', file);

            fetch('http://127.0.0.1:5000/predict2', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerText = 'Classificado como: ' + data.class;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
