<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificação de Imagens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modelo2.css') }}">
</head>
<body>
    <div class="top-bar">
        <h1>Modelo 2</h1>
    </div>
    <div class="form-container"> <!-- Contêiner para o formulário -->
        <input type="file" name="Imagem" id="imageUpload" accept="image/*" multiple>
        <button onclick="classifyImages()">Classificar</button>
    </div>
    <div id="results"></div>
    <script>
        function classifyImages() {
            const fileInput = document.getElementById('imageUpload');
            const files = fileInput.files;
            const formData = new FormData();

            for (const file of files) {
                formData.append('images', file);
            }
            
            fetch('http://127.0.0.1:5000/predict2_batch', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const resultsDiv = document.getElementById('results');
                resultsDiv.innerHTML = '';

                for (const [imageName, prediction] of Object.entries(data)) {
                    // Criar um elemento de imagem
                    const imageElement = document.createElement('img');
                    imageElement.src = `/templates/${imageName}`; 
                    
                    const classificationElement = document.createElement('p');
                    classificationElement.innerText = `Classificado como ${prediction}`;

                    // Criar um contêiner para a imagem e a classificação
                    const containerElement = document.createElement('div');
                    containerElement.appendChild(imageElement);
                    containerElement.appendChild(classificationElement);

                    // Adicionar o contêiner de imagem e classificação ao resultado
                    resultsDiv.appendChild(containerElement);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
